name: Deploy Flask App to EC2

on:
  workflow_dispatch:  # Permite acionar manualmente

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2

      - name: Read and encode user data
        id: userdata
        run: |
          ENCODED=$(base64 -w 0 ec2-setup.sh)
          echo "USER_DATA=$ENCODED" >> $GITHUB_OUTPUT

      - name: Launch EC2 Instance
        run: |
          aws ec2 run-instances \
            --image-id ami-03c1f788292172a4e --instance-type t2.micro --key-name ec2-key --security-group-ids flask-app-sg --user-data "${{ steps.userdata.outputs.USER_DATA }}" --tag-specifications 'ResourceType=instance,Tags=[{Key=Name,Value=Flask-App}]' \
            